h1,li {
    color: red;
  }
/* 用，将不同的选择器隔开，可以使用多种选择器 */

p {
    color: green;
}

.special{
    color:darkblue;
    font-weight: bold;
}

/* 修改无序表自带的项目符号 */
li {
    /* list-style-type: none; */
    list-style-type: square;
  }

ul em{
    color: darkorange;
}

ul span{
    color: rgb(20, 43, 255);
}


