body {
    color: green;
}
          
.my-class-1 a {
    color: inherit;
}
          
.my-class-2 a {
    color: initial;
}
          
.my-class-3 a {
    color: unset;
}
    
blockquote {
    background-color: red;
    border: 2px solid green;
}
        
.fix-this {
    /* all: unset; */
    /* 注意区分 unset 和 initial的区别
        因为本样式表中，对 body 有一个设置，更改了颜色为绿色，所以unset也会继承这个属性
        并不是简单的更改为默认值*/
    all:initial;
    /* initial 不一样，就会设置为默认值，在这里可以看到，字变成了黑色 */
}
    