h1,li {
    color: red;
  }
/* 用，将不同的选择器隔开，可以使用多种选择器 */

p {
    color: green;
}

.special{
    color:darkblue;
    font-weight: bold;
}

/* 修改无序表自带的项目符号 */
li {
    /* list-style-type: none; */
    list-style-type: square;
  }

ul em{
    color: darkorange;
}

ul span{
    color: rgb(20, 43, 255);
}

a:link{
    color: gold;
}
a:visited{
    color: indigo;
}
/* 上面两种样式分别表示访问前后的链接颜色，下方的样式表示悬停在链接上时，下划线消失 */
a:hover{
    text-decoration: none;    
    color: #000;
}

/* 接下来的部分控制进度条 */
/* 这是边框 */
.outer {
    border: 5px solid black;
    /* width: 100%; */
  }
  
/* 这是进度条部分 */
.box {
    padding: 5px;
    /* 内边距 */
    width: calc(90% - 0px);
    /* 框的宽度为包含块宽度的90%，减去30像素 */
    /* 但是发现设置为100时，将超出框的大小，那么框的宽度如果不加100%的设置的话，为什么默认时不满呢 */
    background-color: rebeccapurple;
    /* 背景颜色为紫色，字体为白色 */
    color: white;
}

/* 接下来的部分是一个倾斜的方块 */
.box1 {
    /* 设置边框宽度 */
    margin: 30px;
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
    /* rotate函数定义 2D 旋转，在参数中规定角度 */
    transform: rotate(0.8turn)
  }



/* 这里练习@rules常见的应用：@media */
body {
    background-color: pink;
}
/* 当宽度大于30em的时候为绿色，否则为粉色 */
@media (min-width: 30em) {
    body {
     background-color:cadetblue;
    }
}

/* 同样，仿照上述代码的练习为： */
/* 当宽度大于30em的时候为绿色，否则为粉色 */
  /* @media (max-width: 30em) {
    body {
      background-color:cadetblue;
    }
  } */


  